
div .split-wrapper {
    overflow: hidden;
}

div .split-wrapper .split-column {
    box-sizing: border-box;
    /* Remove following lines for linux only */
    float: left;
    width: 49%;
}

div .vertical-bar-left {
    border-left: 4px solid #eee;
}

div .vertical-bar-right {
    border-right: 4px solid #eee;
}

.reveal .center {
    margin: auto;
}

.reveal table th,
.reveal table td 
{
    text-align: center;
}

.reveal .windows {
    /* Uncomment following for linux only. */
    /* display: none; */
}

.reveal li.fix-bullet {
    white-space: nowrap;
    margin-left: 140px;
}

.reveal .code-blob {
    text-align: left;
    font-size: 0.7em
}

.reveal div.add-padding {
    padding-top: 20px;
}

.reveal code.small-text {
    font-size: 0.8em
}
